In [1]:
#Python Type Conversion
#Assignment No-1 //Covert a integer to a floatig-point number.


integer_number = 42
floating_point_number = float(integer_number)

# Display the result
print("Original Integer:", integer_number)
print("Converted to Floating-point:", floating_point_number)

Original Integer: 42
Converted to Floating-point: 42.0

In [3]:
#Assignment no 2//Convert a float to an integer.

float_number = 90.80
integer_number = int(float_number)

# Display the result
print("Original Float:", float_number)
print("Converted to Integer:", integer_number)

Original Float: 90.8
Converted to Integer: 90

In [4]:
#assignment que no 3//convert an integer to string 

# Convert an integer to a string
integer_number = 42
string_repre = str(integer_number)

# Display the result
print("Original Integer:", integer_number)
print("Converted to String:", string_repre)

Original Integer: 42
Converted to String: 42

In [5]:
#assignment Ques no 4//convert a list to a tuple

# Convert a list to a tuple
list_values = [1, 2, 3, 4, 5]
tuple_values = tuple(list_values)

# Display the result
print("Original List:", list_values)
print("Converted to Tuple:", tuple_values)

Original List: [1, 2, 3, 4, 5]
Converted to Tuple: (1, 2, 3, 4, 5)

In [7]:
#assignment ques no 5//convert a tuple to a list 

# Convert a tuple to a list
tuple_values = (50, 60, 70, 80, 89)
list_values = list(tuple_values)

# Display the result
print("Original Tuple:", tuple_values)
print("Converted to List:", list_values)

Original Tuple: (50, 60, 70, 80, 89)
Converted to List: [50, 60, 70, 80, 89]

In [8]:
#assignment que no 6//decimal number to binary 

# Convert a decimal number to binary

decimal_number = 20
binary_representation = bin(decimal_number)

# Display the result
print("Decimal Number:", decimal_number)
print("Binary Representation:", binary_representation)

Decimal Number: 20
Binary Representation: 0b10100

In [9]:

#assignment ques no 07


# Convert a non-zero number to boolean'

non_zero_number = 109
boolean_value = bool(non_zero_number)

# Display the result
print("Original Non-Zero Number:", non_zero_number)
print("Converted to Boolean:", boolean_value)

Original Non-Zero Number: 109
Converted to Boolean: True